* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}
.front-page {
  background: white;
  width: 600px;
  height: 500px;
  color: white;
  border-radius: 10px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 160px;
  width: 160px;
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  top: 5%;
  left: 20%;
}
.circle2 {
  bottom: 5%;
  right: 20%;
}
.to-do-input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 16px;
  background: #48cae4;
  color: black;
}
.to-do-input::placeholder {
  color: rgba(0, 0, 0, 0.474);
}
.to-do-button {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background: #48cae4;
  cursor: pointer;
}
.to-do-button:hover {
  background: #46c1da;
}
.task1 {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px 0px 20px;
  width: 430px;
}
.title1 {
  color: black;
  font-size: 20px;
  font-family: Arial;
  margin: 20px 0px 0px 30px;
}
.js-todo-list {
  width: 350px;
  height: 350px;
  background: #48cae4;
  margin: 20px 0px 0px 25px;
  border-radius: 10px;
  padding: 10px 0px 0px 20px;
  font-size: 16px;
  font-family: Arial;
}
.js-delete {
  border: none;
  width: 60px;
  height: 30px;
  background: #6cdbeb;
  border-radius: 5px;
  color: black;
  margin-left: 5px;
  margin-top: 5px;
}
.js-delete:hover {
  background: #46c1da;
}
.date {
  height: 40px;
  width: 140px;
  background: #48cae4;
  border: none;
  border-radius: 5px;
  padding: 0px 5px 0px 8px;
  font-size: 16px;
  cursor: pointer;
}
