* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  p{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: Arial;
  }

  .js-subscribe{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: black;
    background-color: rgba(171, 168, 168, 0.4);
    margin-left: 20px;
    transition: all 0.1s ease-in-out;
    box-shadow: 2px 2px 4px rgba(72, 70, 70, 0.5);
  }

  .js-subscribe:hover{
    background-color: rgba(156, 154, 154, 0.562)
  }
  .js-subscribe:active{
    background-color: transparent;
    color: rgba(0, 0, 0, 0.721);
    border: 1.5px solid gray;
  }
  .is-subscribed{
    background-color: rgba(223, 215, 215, 0.8);
    color: black;
    border: 1px solid rgba(128, 128, 128, 0.595);
  }