.display1{
    background: #ff006e;
    width: 100px;
    height: 40px;
    border: none;
    border-radius:5px ;
    color: white;
}
.test1{
    background: #ff006e;
    width: 100px;
    height: 40px;
    border: none;
    border-radius:5px ;
    color: white;
}
.operator{
    background: #ff006e;
    width: 100px;
    height: 40px;
    border: none;
    border-radius:5px ;
    color: white;
}